@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    h1 {
      @apply text-3xl text-primary-dark tracking-tighter leading-10;
    }
    h2 {
      @apply text-2xl text-primary tracking-tight leading-10;
    }
    h3 {
      @apply italic text-xl text-primary leading-10;
    }
    p {
      @apply text-primary;
    }
    #content a {
      @apply no-underline text-blue-700 hover:underline;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  :root {
    --primary-dark: #EF4444;
    --primary-default: #22C55E;
    --primary-light: #BBF7D0;
  
    --secondary-dark: #000e07;
    --secondary-default: #5EEAD4;
    --secondary-light: #CCFBF1;
  
    --success-dark: #008969;
    --success-default: #18bc9c;
    --success-light: #97ffff;
  
    --info-dark: #0165a8;
    --info-default: #3498db;
    --info-light: #b3ffff;
  
    --warning-dark: #c06900;
    --warning-default: f39c12;
    --warning-light: #ffff91;
  
    --danger-dark: #b41909;
    --danger-default: #e74c3c;
    --danger-light: #ffcbbb;
  
    --gray-dark: #01070d;
    --gray-default: #343a40;
    --gray-light: #b3b9bf;
  }

  html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
	width: 10px;
	@apply bg-secondary-dark;
}

body::-webkit-scrollbar-thumb {
  @apply duration-500;
  background: linear-gradient(180deg, #000e07 0%, #22C55E 20%, #000e07 40%, #22C55E 60%, #000e07 80%, #22C55E 100%);
	border-radius: 68% 13% 0% 58% / 31% 41% 32% 24% ;
	border-right: 2px solid #000;

}

body::-webkit-scrollbar-thumb:hover {
  @apply duration-500;
  background: linear-gradient(180deg, #000e07 0%, #5EEAD4 20%, #000e07 40%, #5EEAD4 60%, #000e07 80%, #5EEAD4 100%);
}

body::-webkit-scrollbar-thumb:active {
  @apply duration-500;
  background: linear-gradient(180deg, #5EEAD4 0%, #000e07 20%, #5EEAD4 40%, #000e07  60%, #5EEAD4 80%, #000e07  100%);
}

.reflect {
  -webkit-box-reflect: below -12px linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.2));
}

.wavy {
  @apply relative ;
}

.wavy span {
  @apply relative inline-block text-primary text-3xl md:text-7xl lg:text-8xl;
  animation: animate 0.8s ease-in-out infinite;
  animation-delay: calc(0.07s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  10%, 15% {
    transform: translateY(-15px);
    @apply text-white;
  }
  100%{
    transform: translateY(0px);
    @apply text-white;
  }
}

.menu {
  @apply h-64 w-96 bg-black bg-opacity-60 flex justify-center mb-auto md:mb-0 md:mt-auto;
  clip-path: polygon(37% 90%, 63% 90%, 83% 100%, 100% 0, 0 0, 17% 100%);
}

.p-sticky {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 63% 95%, 37% 95%, 0 100%);
  @apply bg-black bg-opacity-80 flex justify-around items-center z-40 fixed top-0 duration-300 w-screen h-20;
}

.open-p-sticky {
  @apply h-screen  justify-center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0% 100%, 0 100%);
}

html[data-scroll-dir-y="-1"] .p-sticky {
  @apply bg-opacity-50;
}

html[data-scroll-dir-y="1"] .p-sticky {
  @apply bg-opacity-90;
}

#div-menu[data-scroll="in"] .navbar-v {
  @apply bottom-10 fixed z-50;
}

@media (max-width: 768px){
  .menu-btn {
    @apply cursor-pointer;
  }
}

@media (min-width: 768px){
  .menu {
    clip-path: polygon(37% 10%, 63% 10%, 83% 0, 100% 100%, 0 100%, 17% 0);
  }

  #div-menu[data-scroll="out"] #navbar {
    @apply flex;
}

  .li-h {
    @apply w-full flex-row h-auto flex;
  }

  .menu-btn {
    @apply cursor-default;
  }

  .menu-btn, .menu-btn__burger, .menu-btn, .open {
    @apply hidden;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  @apply absolute w-[30px] h-1 bg-white rounded-md;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-12px);
}
.menu-btn__burger::after {
  transform: translateY(12px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  @apply scale-110;
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.nav-h {
  @apply lg:w-2/5 flex-row inline-flex items-center translate-x-1/2 lg:translate-x-2/3;
}

.nav-v {
  @apply bottom-10 fixed z-50 items-start flex;
}

#a-div1, #a-div2, #a-div3, #a-div4 {
  @apply h-8 mx-auto flex justify-center relative overflow-hidden;
  top: 8%;
}

#a-div1, #a-div3 {
  @apply w-24;
}

#a-div1, #a-div2 {
  @apply w-20;
}

#a-div4 {
  @apply w-24;
}

.li-v {
  @apply w-full h-44 -translate-y-5 md:-translate-y-0 flex flex-col justify-between;
}

.li-absolute {
  @apply relative -left-1/2 top-10 w-screen bg-secondary-dark h-64 bg-center pb-8 flex flex-col justify-between;
  box-shadow: -1px 0px 40px 60px #000e07;
}

.logo-open {
  @apply absolute opacity-10 scale-150 hover:hue-rotate-180 top-0 bottom-0 left-0 right-0 w-4/5 h-full m-auto;
}

.li-a {
  @apply flex hover:text-secondary-light hover:scale-110 text-secondary duration-300 font-bold items-center 
  absolute justify-center rounded-full z-10 w-full h-full;
}

.gradient {
  background: linear-gradient(rgba(0,0,0,0.5) 60%,#000
  );
}

.aboutme, .aboutme2 {
  @apply w-screen h-screen flex flex-wrap content-evenly justify-center overflow-hidden absolute top-0;
  //background: linear-gradient(rgba(0,0,0,0.5) 60%,#000e07
  );
}

.aboutme {
  clip-path: polygon(100% 0, 0% 100%, 0 0);
}
.aboutme2 {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.about {
  -webkit-user-select: none;/* Chrome  y Safari */ 
  -moz-user-select: none;/* Firefox */
  -ms-user-select: none;/* IE 10+ */ 
  user-select: none;
}  

.circle1 {
  @apply relative w-52 h-36 bg-primary-light rounded-full mx-auto flex justify-center items-center;
  background: rgb(8,167,39);
  background: linear-gradient(135deg, rgba(8,167,39,1) 0%, rgba(92,227,192,1) 50%, rgba(3,180,2,1) 100%);
  box-shadow: 0px 0px 12px 7px #000000 inset;
  }

svg {
  @apply w-full md:w-9/12;
  overflow: visible;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
  
.triangles, .triangles2 {
  @apply w-screen h-screen bg-secondary-dark;
}

.triangles {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  
}

.triangles2 {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.glide__slides {
  @apply h-auto;
}

.glide__slide--active {
  @apply my-44;
}

.slider-image{
  @apply h-72 filter blur-xl duration-500;
}

@media (max-width: 768px) {
  .glide__slide--active .contain {
    @apply w-96 mx-auto;
  }

  .slider-image {
  @apply w-96 mx-auto;
}
}

.contain {
  @apply h-72 overflow-hidden duration-500;
  perspective: 38rem;
}

.glide__slide--active .contain {
  @apply mx-auto overflow-visible duration-500;
}
  
.glide__slide--active .slider-image {
  @apply scale-110 transform md:-translate-y-16 filter blur-none duration-500;
}

.disk-container {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  transform: translate3d(0px, 0px, -20px) rotateY(0deg);
}

.glide__slide--active .disk-container {
  -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 0px 50px 50px -21px rgba(0,0,0,0.51), 0px 50px 50px -21px rgba(0,0,0,0.14); 
  box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 0px 50px 50px -21px rgba(0,0,0,0.51), 0px 50px 50px -21px rgba(0,0,0,0.14);
  perspective: 30rem;
}

.face {
  position:absolute;
  box-shadow: inset 0px 0px 20px black;
  background-size: 100% 100%;
  background-position: center;
}

.front-face {
  width: 99%;
  height: 99%;
  transform: translate3d(0px, 2px, 7px);
}

.one { background-image: url('../../resources/assets/img/evuc.webp');}

.two { background-image: url('../../resources/assets/img/portfolio.webp');}
  
.back-face {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg) translateZ(7px);
}

.left-face {
  width: 14px;
  height: 100%;
  transform: rotateY(-90deg) translate3d(0px, 0px, 7px);
}

.bookmark {
  @apply text-primary-light bg-black opacity-80 absolute -bottom-8 z-50 w-full h-9 pt-1 duration-500;
}

.glide__slide--active .bookmark {
  @apply text-primary-light bg-black opacity-80 absolute transform -translate-y-8 z-50 w-full h-9 pt-1 duration-500;
}

.title-project {
  @apply ml-3 absolute transform top-[0.4rem];
}

.info {
  @apply absolute right-3 px-7 border-2 border-white no-underline font-semibold;
}

.info:before {
  content: '';
  position: absolute;
  top: 2.5px;
  left: -3px;
  width: calc(100% + 6px);
  height: 80%;
  background: black;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.info:hover:before {
  transform: scaleY(0);
}

.info:after {
  content: '';
  position: absolute;
  left: 6.5px;
  top: -3px;
  height: calc(100% + 6px);
  width: 90%;
  background: black;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}

.info:hover:after {
  transform: scaleX(0);
}

.info span {
  position: relative;
  z-index: 3;
}

.rotate {
  transform: translate3d(0px, 0px, -20px) rotateY(180deg);
}

.uc {
  background-image: url('../../resources/assets/img/Logo_de_la_Universidad_de_Caldas.svg');
}

.portfolio {
  background-image: url('../../resources/assets/img/logo_transparent.png');
}

.soon {
  background-image: url('../../resources/assets/img/soon.webp');
}